In [43]:
import numpy as mp
import pandas as pd

In [44]:
df=pd.read_csv("tennis.csv")
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [45]:
outlook	=df["outlook"].str.get_dummies(" ")
temp=df["temp"].str.get_dummies(" ")
humidity=df["humidity"].str.get_dummies(" ")
play=df["play"].str.get_dummies(" ")
windy=pd.get_dummies(df["windy"],drop_first=True)

In [46]:
df.drop(["outlook","temp","humidity","play","windy"],inplace=True,axis=1)
df=pd.concat([outlook,temp,humidity,play,windy],axis=1)

In [47]:
df.head()

   overcast  rainy  sunny  cool  hot  mild  high  normal  no  yes   True
0         0      0      1     0    1     0     1       0   1    0  False
1         0      0      1     0    1     0     1       0   1    0   True
2         1      0      0     0    1     0     1       0   0    1  False
3         0      1      0     0    0     1     1       0   0    1  False
4         0      1      0     1    0     0     0       1   0    1  False

In [48]:
from sklearn.model_selection import train_test_split
x=df.drop(["yes","no"],axis=1)
y=df["no"]

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
x_train.columns=x_train.columns.astype(str)
x_test.columns=x_test.columns.astype(str)

In [50]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(criterion="entropy")

In [51]:
dt.fit(x_train,y_train)
pred=dt.predict(x_test)

In [52]:
from sklearn.metrics import mean_squared_error,confusion_matrix,classification_report,accuracy_score

In [53]:
print("Accuracy	:",accuracy_score(y_test,pred))
print("classification_report	:	")
print(classification_report(y_test,pred))
print("confusion_matrix	:	")
print(confusion_matrix(y_test,pred))

Accuracy	: 1.0
classification_report	:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      1.00      1.00         1

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

confusion_matrix	:
[[2 0]
 [0 1]]